.first-class{
    background-color: rgb(247, 146, 146);
    font-size: 24px;
    font-family: Verdana,'DejaVu Sans',sans-serif;
}
#first-id{
    color:rgb(0, 0, 255);
    font-size: 36px;
}
#second-id{
    background-color: rgb(215, 254, 160);
    font-size: 24px;
}