.header  {
  display: flex;
  flex: 1;
  font-family: monospace;
  background: papayawhip;
  border: 5px papayawhip;
  justify-content: space-between;
}

.logo {
  width: fit-content;
  height: fit-content;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}
.left-links,.right-links{
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
}
.right-links{
  justify-content: flex-end;
  margin : 5px 5px 0px 0px;
}
.left-links{
  justify-content: flex-start;
  margin: 5px 0px 0px 5px;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}
li{
  display: inline-block;
}
a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}