*{
    font-family: serif;
}
div{
    background-color: red;
    color: white;
}
#center-text{
    font-weight: bold;
    font-size:32px;
    text-align: center;
}
button{
    font-size: 20px;
    background-color: gold;
    padding:5px;
}