body {
  font-family: Arial, Helvetica, sans-serif;
}


.para{ /*there was a two .para rules I moved font-size from second to there and removed 
  .small-para from that selector in order to solve the problem and meet requiriments*/
  color: hsl(0, 0%, 0%);
  font-weight: 800;
  font-size: 22px;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}



#confirm-button {    /*fixed using id as it have more specifity*/
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

/*I change the positions between .text and child rules in order,
to make css define as final  css rule to my div with the two classes be the .child one*/
